<header class="navbar bg-neutral text-neutral-content p-5">
  <div class="flex-1">
    <button class="btn btn-ghost text-xl"><%= link_to "Signal Photo", root_path %></button>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to "ホーム", photos_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "新規投稿", new_photo_path %></li>
        <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to '新規登録', new_user_registration_path %></li>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</header>
