  <div class="flex justify-center h-[680px] w-full bg-cover bg-[url('image5.jpg')]">
    <%# text area %>
    <div class='flex justify-center items-center'>
      <div class="w-full max-w-md">
        <h1 class="text-4xl font-bold text-gray-900 text-center mb-8">Signal Photo</h1>
        <div class="text-lg mb-8 text-white">Signal Photoは無料の写真共有サービスです。合言葉を使用して秘密の写真を投稿しましょう。</div>
        <ul class="flex justify-center mb-8">
          <% if user_signed_in? %>
            <li><%= link_to "新規投稿", new_photo_path, class: "bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded" %></li>
          <% else %>
            <li class="mr-4"><%= link_to "ログイン", new_user_session_path, class: "text-white hover:text-gray-900" %></li>
            <li><%= link_to "新規登録", new_user_registration_path, class: "bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded" %></li>
          <% end %>
        </ul>
      </div>
    </div> 
  </div>
  <div class="py-16 rounded-lg">
    <h2 class="text-2xl font-bold text-gray-900 text-center mb-8">How to use</h2>
    <div class="mt-4 flex flex-col md:flex-row justify-center items-center gap-4">
      <div class="flex flex-col items-center">
        <div class="w-5/6 bg-white rounded-lg shadow-md flex-shrink-0">
          <%= image_tag 'image9.jpg', alt: 'step1', class: 'w-full h-full object-cover rounded-lg' %>
        </div>
        <dt class="text-lg font-medium text-gray-500 mt-4">Step 1</dt>
        <dd class="mt-2 text-gray-900 text-center">新規投稿ページで合言葉と一緒に画像を投稿しましょう。</dd>
      </div>
      <div class="flex flex-col items-center">
        <div class="w-5/6 bg-white rounded-lg shadow-md flex-shrink-0">
          <%= image_tag 'image10.jpg', alt: 'step2', class: 'w-full h-full object-cover rounded-lg' %>
        </div>
        <dt class="text-lg font-medium text-gray-500 mt-4">Step 2</dt>
        <dd class="mt-2 text-gray-900 text-center">検索ページで合言葉を検索して、画像を表示しましょう。</dd>
      </div>
    </div>
  </div>
</div>
