<%= stylesheet_link_tag 'new', :media => "all" %>
<body class="new-container">

  <% if @tweet.errors.any? %>
    <div class="notification alert">
      <h3><%= pluralize(@tweet.errors.count, "error") %>prohibited this object from being saved: not successfully</h3>
      <ul>
        <% @tweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="post-container">
    <p class="title">投稿フォーム</p>
    <%= form_with model: @tweet, local: true do |f| %>
      <div class="label">
        <p><%= f.label :合言葉 %></p>
        <br>
        <%= f.text_field :password, :class => 'text_field' %>
        <br>
        <div class="label">
          <p><%= f.label :画像 %></p>
          <br>
          <%= f.file_field :image %>
          <br>
        </div>
      </div>
      <%= f.submit "投稿する", class: "sub" %>
      <br>
    <% end %>
  </div>
</body>